<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <div id="app">
        <panel :type="article.type" @say-title="parent" v-for="(article,index) in articles" :key="index">
            <div slot="heading"><span v-html="article.title"></span></div>
            <div slot="body">
                {{article.content}}
            </div>
            <div v-if="article.auth">{{article.auth}}</div>
        </panel>
    </div>
    <template id="panel">
        <div class="panel" :class="[child]">
            <div class="panel-heading" ref="head">
                <slot name="heading"></slot>
            </div>
            <div class="panel-body">
                <slot name="body"></slot>
            </div>
            <div class="panel-footer">
                <slot>匿名</slot>
                <button @click="say">点我说标题</button>
            </div>
        </div>
    </template>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        let panel={
            template:"#panel",
            props: {//子组件不能更改父组件的数据
                type:{//属性
                    type:String,
                    default:"default"
                }
            },
            methods:{
                say(){
                    this.$emit("say-title",this.$refs.head.innerText);
                }
            },
            computed: {
                child(){
                    return "panel-"+this.type;
                }
            },
        }
        let vm = new Vue({
            el: "#app",
            data:{
                articles:[
                    {type:"warning",title:"<h2>VUE</h2>",content:"这是VUE的文章",auth:"作者：jiangyou"},
                    {type:"primary",title:"<h2>react</h2>",content:"这是react的文章",auth:"作者：jiangyou"},
                    {type:"js",title:"<h2>js</h2>",content:"这是js的文章",auth:"作者：jiangyou"}
                ]
            },
            methods: {
                parent(val){
                    console.log(val);
                }
            },
            components: {
                panel
            }
        })
    </script>
</body>

</html>